* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #eee;
}

#nav-bar a {
  text-decoration: none;
  color: #eee;
  background-color: #5C4033;
  margin: 4px 2px;
  padding: 15px 32px;
  width: 100px;
  text-align: center;
  border-radius: 10px;
}

.hover-effect {
  transform: scale(1.2rem);
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#header-img {
  padding-left: 2rem; 
}

#nav-bar {
  display: flex;
  gap: 4rem;
  margin: auto 0;
  padding-right: 4rem;
  justify-self: end;
}

