* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

header {
  display: grid;
  background-color: #1B1212;
  grid-template-columns: 1fr 1fr;
}

