* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#nav-bar {
  display: flex;
  gap: 4rem;
  text-align: center;
  justify-self: end;
}

